<html>
    <head>
        <title>Rita's blog</title>
    </head>
    <body>
      <div>
            <h1><a href="http://horvathrita.pythonanywhere.com/">Rita's Blog</a></h1>
        </div>

        <div>
              <p>published: 30.12.2015, 18:48</p>
              <h2><a href="">My first post</a></h2>
              <p>Ez lett az első saját bejegyzés az első saját blogon. :D</p>
          </div>

          <div>
              <p>published: 30.12.2015, 18:57</p>
              <h2><a href="">My second post</a></h2>
              <p>ez a második próba.</p>
          </div>
      </body>
  </html>
